.navlink {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.navlink:hover {
  color: #9e788f;
  text-decoration: none;
}

.active {
  color: #99a9db;
}

.navbar-toggler:hover {
  background-color: #e1e5ee;
}
